<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= t('class.teaching') %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
  </head>
  <body>
    <main>
      <div class="layout-container">
        <%- include('../layout/navbar'); -%>
        <div class="parent-content-container">
          <%- include('../layout/header'); -%>
          <div class="content-container">
            <div class="header-container">
              <span class="header-title"><%= t('class.teaching') %></span>
            </div>
            <div class="filter-container">
              <div>
                <h4><strong><%= t('filter') %></strong></h4>
              </div>
              <div class="filter-row">
                <div class="form-row-item">
                  <label for="year"><%= t('school_year') %></label>
                  <select class="form-control" id="year">
                    <% years.forEach(function(year) { %>
                    <option value="<%= year.split('-')[0] %>">
                      <%= year %>
                    </option>
                    <% }); %>
                  </select>
                </div>
                <div class="form-row-item">
                  <label for="semester"><%= t('semester') %></label>
                  <select class="form-control" id="semester">
                    <option value="1"><%= t('semester') %>&nbsp1</option>
                    <option value="2"><%= t('semester') %>&nbsp2</option>
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-primary" id="btn-search">
                <%= t('search') %>
              </button>
            </div>
            <div
              class="content"
              data-years="<%= typeof years !== 'undefined' ? JSON.stringify(years) : '' %>"
              id="content"
            >
              <% if (teachings && teachings.length > 0) { %>
              <div class="table-responsive">
                <table class="table list-content">
                  <thead class="table-info">
                    <tr>
                      <th scope="col"><%= t('class.name') %></th>
                      <th scope="col"><%= t('grade.title') %></th>
                      <th scope="col"><%= t('teacher.homeroom') %></th>
                      <th scope="col"><%= t('subject.title') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% teachings.forEach(function(teaching) { %>
                    <tr class="class-row" data-teaching-id="<%= teaching.id %>">
                      <td><%= teaching.class_school.name %></td>
                      <td><%= teaching.class_school.grade.name %></td>
                      <td><%= teaching.class_school.teacher.name %></td>
                      <td><%= teaching.subject.name %></td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
              <div class="empty-list">
                <span><%= t('class.empty') %></span>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/scripts/schedule/teaching-classes.js"></script>
  </body>
</html>
