<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= t('schedule.title') %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
  </head>
  <body>
    <main>
      <div class="layout-container">
        <%- include('../layout/navbar'); -%>
        <div class="parent-content-container">
          <%- include('../layout/header'); -%>
          <div class="content-container">
            <div class="header-container">
              <span class="header-title"><%= t('schedule.title') %></span>
            </div>
            <div class="filter-container">
              <div>
                <h4><strong><%= t('filter') %></strong></h4>
              </div>
              <div class="filter-row">
                <div class="form-row-item">
                  <label for="year"><%= t('school_year') %></label>
                  <select class="form-control" id="year">
                    <% years.forEach(function(year) { %>
                    <option value="<%= year.split('-')[0] %>">
                      <%= year %>
                    </option>
                    <% }); %>
                  </select>
                </div>
                <div class="form-row-item">
                  <label for="semester"><%= t('semester') %></label>
                  <select class="form-control" id="semester">
                    <option value="1"><%= t('semester') %>&nbsp1</option>
                    <option value="2"><%= t('semester') %>&nbsp2</option>
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-primary" id="btn-search">
                <%= t('search') %>
              </button>
            </div>
            <div
              class="content"
              data-years="<%= typeof years !== 'undefined' ? JSON.stringify(years) : '' %>"
              data-schedule="<%= typeof schedule !== 'undefined' ? JSON.stringify(schedule) : '' %>"
              id="content"
            >
              <% if (typeof schedule !== 'undefined') { %>
              <div class="table-responsive">
                <table
                  id="scheduleTable"
                  class="table table-bordered text-center schedule-table"
                  data-class-title="<%= t('class.title') %>"
                >
                  <thead>
                    <tr>
                      <th scope="col" class="col-1">
                        <%= t('schedule.note') %>
                      </th>
                      <th scope="col" class="col-1">
                        <%= t('schedule.monday') %>
                      </th>
                      <th scope="col" class="col-1">
                        <%= t('schedule.tuesday') %>
                      </th>
                      <th scope="col" class="col-1">
                        <%= t('schedule.wednesday') %>
                      </th>
                      <th scope="col" class="col-1">
                        <%= t('schedule.thursday') %>
                      </th>
                      <th scope="col" class="col-1">
                        <%= t('schedule.friday') %>
                      </th>
                      <th scope="col" class="col-1">
                        <%= t('schedule.saturday') %>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="scheduleBody"></tbody>
                </table>
              </div>

              <% } else { %>
              <div class="empty-list">
                <span><%= t('schedule.empty') %></span>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/scripts/schedule/teacher-schedule.js"></script>
  </body>
</html>
